body {
    background-color: black;
}

.card{
    z-index: -1;
}

.navbar {

    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(50px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100%;
}

.nav-link,
.navbar-brand {
    position: relative;
    overflow: hidden;
    color: white;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #0d6efd
}

.nav-link::after,
.navbar-brand::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #090979;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(230, 230, 237, 1) 50%, rgba(9, 9, 121, 1) 100%);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after,
.navbar-brand:hover::after {
    width: 100%;
}

.btna {
    text-decoration: none;
    color: white
}

.navbar-toggler-icon,
.navbar-toggler {
    color: white;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.section-1,
.section-3,
#contact,
#faq {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
}



.section-2,
#resume {
    color: white;
}

.banner {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-weight: bold;

}

.circle {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.typing-cursor {
    display: inline-block;
    animation: blink 0.7s steps(1) infinite;
    font-weight: bold;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}